*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
}

.main{
    margin: auto;
    padding: 0 2rem;
    max-width: 1920px;
    display: block;

}


/* header................................ */

.mobiltete{
    display: none;
}


.tete{
    /* border: solid 2px red; */
    display: flex;
    height: 5rem;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
}

.lienheber{
    border-top: solid 2px #0065fc;
    height: 100%;
}


.lieninsc{
    color: #0065fc;
}


a{
    text-decoration: none;
}

.imglogo{
    width: 8rem;
    height: 4rem;
}

.accueil{
    /* border: solid 2px blueviolet; */
    width: 30%;
    margin-left: auto;
}

.parachoix{
    margin-top: 10px;
}

/* Bouton recherche............................ */

.bouton{
    /* border: solid 2px black; */
    display: flex;
    height: 3rem;
} 

.input{
    padding: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
    border: solid 2px #f2f2f2;
}

.localisation{
    /* border: solid 1px black; */
    border-radius: 1rem 0 0 1rem;
    padding: 1rem;
    text-align: center;
    background: #f2f2f2;
}


.clique{
    padding: 1rem;
    border-radius: 0 1rem 1rem 0;
    background: #0065fc;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
}

.mobilclique{
    display: none;
}


/* Filtres......................................*/

.filtres{
    /* border: solid 2px purple; */
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;  
}

.f{
    border: solid 3px #f2f2f2;
    border-radius: 6rem;
    margin-right: 2rem;
    margin-left: 2rem;
    align-items: center;
    display: flex;
    font-weight: bold;
}

.f:hover{
    background: #deebff;
}

.iconef{
    background: #deebff;
    color: #0065fc;
    border-radius: 100%;
    padding: 1rem;
    margin-left: -3px;
}

.paraf{
    padding: 0.75rem;
}



/* Information.................................. */

.info{
    /* border: solid 2px green; */
    display: flex;
    align-items: center;
}

.parainfo{
    padding-left: 0.5rem;
}

.icone{
    border: solid 2px #f2f2f2;
    border-radius: 100%;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    color: #0065fc;
}

/* Espace Hébergement........................... */

.hebergements{
    /* border: solid 2px fuchsia; */
    display: grid;
    grid-template-columns:auto auto;
    grid-template-areas: "m p";
    grid-gap: 20px;
    margin-top: 20px;
}


/* Marseille.................................... */

.marseille{
    /* border: solid 2px green; */
    grid-area: m;
    display: grid;
    grid-template-columns: 20rem 20rem 20rem;
    grid-template-areas:
    "t t ." 
    "c po mo"
    "me pa a"
    "pp . .";
    column-gap: 2rem;
    row-gap: 2rem;
    border-radius: 20px;
    background: #f2f2f2;
    padding: 1rem;
      
}

.titremarseille{
    grid-area: t;
}

.boite{
    /* border: solid 2px blue; */
    background: white;
    width: 20rem;
    height: 16rem;
    border-radius: 25px;
    padding: 0.4rem;
    line-height: 1.5rem;
    box-shadow: 0 0 15px rgb(197, 195, 195);
}

.imgboite{
    object-fit: cover;
    width: 100%;
    height: 65%;
    max-width: 100%;
    max-height: 100%;
    border-radius: 25px 25px 0 0;
}

.iconestar{
    color: #0065fc;
}

.cannebiere{   
    grid-area: c;   
}


.mer{  
    grid-area: me;
}


.port{
    grid-area: po;
}


.panier{
    grid-area: pa;
}


.mouettes{
    grid-area: mo;
}


.amina{
    grid-area: a;
}

.paraplus{
    padding-top: 1rem;
    grid-area: pp;
}

/* Populaires.................................. */

.populaires{
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "tp" "s" "e" "b" ;
    border-radius: 20px;
    background: #f2f2f2;
    grid-area: p;
    padding: 2rem;
}

.box{
    /* border: solid 2px fuchsia; */
    display: flex;
    background: white;
    border-radius: 25px;
    box-shadow: 0 0 15px rgb(197, 195, 195);
    padding: 0.4rem;
    height: 10rem;
    width: 20rem;
}

.imgbox{
    /* border: solid 2px cyan; */
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    border-radius: 25px 0 0 25px;
}


.texte{
    /* border: solid 2px chartreuse; */
    width: 100%;
    padding: 0.5rem 0.5rem 1rem 1rem;
}

.iconestarstar{
    color: #0065fc;
    padding-top: 1.5rem; 
}

.imgbleu{
    width: 200px;
}


.prix{
    line-height: 30px;
}

.titrepopulaires{
    grid-area: tp;
    display: flex;
    justify-content: space-between;
}


.soleil{
    grid-area: s;
    margin: 2rem 0 3rem 0;
}


.eau{
    grid-area: e;
    margin-bottom: 3rem;
}


.bleu{
    grid-area: b;
}

/* Activités à Marseille............................... */

.activites{
    /* border: solid 2px blueviolet; */
    background: white;
    border-radius: 20px;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 3rem 10rem 3rem 3rem 3rem 10rem;
    grid-template-areas: 
    "ta . . ."
    "vp pom par g"
    "vp pom par ."
    "vp pom par l"
    "vp . par l"
    "vp f par l";
}

.case{
    /* border: solid 2px red; */
    background: white;
    width: 20rem;
    height: auto;
    border-radius: 25px; 
    padding: 0.5rem;
    box-shadow: 0 0 15px rgb(197, 195, 195);
}

.imgcase{
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    border-radius: 25px 25px 0 0;
}

.txtactiv{
    /* border: solid 2px black; */
    height: 2rem;
    padding: 1rem;
}

.imgvp{
    height: 90%;
}

.imgpom{
    height: 80%;
}

.imgfrioul{
    height: 70%;

}

.imgcal{
    height: 85%;
}

.imggarde{
    height: 60%;
}

.imglong{
    height: 80%;
}

.titreactivites{
    grid-area: ta;
}

.vieuxport{
    grid-area: vp;
}

.pomegues{
    grid-area: pom;
}

.frioul{
    grid-area: f;
}

.parc{
    grid-area: par;
}

.garde{
    grid-area: g;
}

.longchamp{
    grid-area: l;
}

/* Footer..................................... */

.footer{
border: #f2f2f2;

margin-top: 3rem;
margin-bottom: 3rem;
padding-top: 2rem;
padding-left: 3rem;
padding-bottom: 3rem;
background: #f2f2f2;

display: grid;
grid-template-columns: auto auto auto;
grid-template-areas: "ap ch as";
line-height: 2;
}

.apropos{
    grid-area: ap;
}

.charte{
    grid-area: ch;
}

.assistance{
    grid-area: as;
}




/* RESPONSIVE............................................................................ */


@media screen and (max-device-width:1080px){

    /* Mobil Head.................................................. */

    .lienheber{
        margin-right: 1rem;
    }

    .lienactivites{
        margin-right: 1rem; 
    }
    
    /* Mobil GRID Hebergements..................................... */

    .titremarseille{
        margin-top: 1rem;
    }

    .hebergements{
        
        display: grid;
        grid-template-rows: auto auto;
        grid-template-areas: "p" "m";
    }

    .populaires{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-areas: "tp" "ph";
        
    }

    .titrepopulaires{
        grid-area: tp;
        display: flex;
    }

    .photos{
        grid-area: ph;
        display: flex;
    }

    .box{
        width: 18rem; 
        margin: 2rem 1rem 2rem 1rem;        
    }


    /* Mobil GRID Activites...................................... */

    .activites{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: 
        "ta . ."
        "vp pom g"
        "f par l";
        padding-top: 2rem;
    }

    .imgcase{
        height: 75%;
    }

    .case{
        height: 14rem;
        margin: 1rem;
    }

    /* Mobil Footer.............................................. */
    .footer{
        display: grid;
        grid-template-columns: 9fr 9fr 9fr;
        width: 65rem;
    }


    .foo{
        padding-right: 2rem;
    }
  
}


@media screen and (max-device-width:770px){

    .populaires{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-areas: "tp" "ph";
        
    }

    .photos{
        display: flex;
        flex-direction: column ;
        border-radius: 0;
        grid-area: p;
    }

}


@media screen and (max-device-width: 375px){

    .main{
        margin-left: 2rem;
        margin-right: 2rem;
    }


    /* Mobile GRID header................................. */

    .tete{
        display: none;
    }

    .mobiltete{
        border-bottom: solid 2px #f2f2f2;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "iml . li" 
        "lh . la";

        width: 100%;
        margin-bottom: 2rem;
    }

    .imglog{
        grid-area: iml;
        margin-right: auto;
        width: 5rem;
        height: 2.5rem;
    }

    .lieni{
        grid-area: li;
        padding-top: 0.5rem;
        color: #0065fc;
    }

    .lienh{
        grid-area: lh;
        padding-top: 1.5rem;
        border-bottom: solid 2px #0065fc;
    }

    .liena{
        grid-area: la;
        padding-top: 1.5rem;
    }

    /* Mobil Barre de recherche............................*/

    .clique{
        display: none;
    }

    .mobilclique{
        display: flex;
        align-items: center;
        border-radius: 1rem;
        background: #0065fc;
        color: white;
        padding: 1rem;
    }

    /* Mobile GRID Filtres................................ */

    
    .filtres{
        display: grid;
        grid-template-columns: auto 4rem auto;
        grid-template-areas: 
        "pf . ."
        "ec fam fam"
        "rom . ."
        "ani ani .";
    }

    .f{
        margin: 0.5rem;
    }

    .paraf{
        grid-area: pf;
    }

    .economique{
        grid-area: ec;
    }

    .familial{
        grid-area: fam;
    }

    .romantique{
        grid-area: rom;
    }

    .animaux{
        grid-area: ani;
        padding-right: 1rem;
    }


    /* Mobile GRID Hebergements................................ */


    .hebergements{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-areas: "p" "m";
    }


             /* GRID Marseille..................................... */

    .marseille{
        grid-area: m;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:repeat(8, auto);
        grid-template-areas:
        "t" "c" "po" "mo" "me" "pa" "a" "pp";  

        background: white;
    }

    .boite{
        height: 14rem;
    }

    .imgboite{
        height: 50%;
    }

            /* Populaires............................................ */


    /* .populaires{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-areas: "tp" "ph";
                
    }

    .photos{
        display: flex;
        flex-direction: column ;
        border-radius: 0;
        grid-area: p;
    } */
    


    /* Mobile GRID Activités.................................... */

        .activites{
             grid-template-rows: auto repeat(6, 1fr);
             grid-template-areas: "ta" "vp" "pom" "f" "par" "g" "l";

             margin-top: 0;
        }


        .case{
            margin-top: 1rem;
            margin-bottom: 1rem;
            height: 11rem;
        }

        .imgvp{
            height: 70%;
        }

        .imgpom{
            height: 70%;
        }

        .imgcal{
            height: 70%;
        }

        .imglong{
            height: 70%;
        }

        /* Mobile Footer................................... */

        .footer{
            grid-template-columns: 1fr;
            grid-template-rows: auot auto auto;
            grid-template-areas: "ap" "ch" "as";

            margin-top: 2rem;
            margin-left: 2rem;
            width: 20rem;
        }

        .apropos{
            padding-bottom: 2rem;
        }

        .assistance{
            padding-top: 2rem;
        }

}